/*========================================*\
    $COLORS
\*========================================*/
/**
* Branding Colors
**/
table tr:hover {
  background-color: #d8d879; }

/*========================================*\
    $BUTTONS
\*========================================*/
.btn {
  display: inline-block;
  color: white;
  background-color: #ea83ee;
  line-height: 2.5;
  border-radius: 3px; }

/*========================================*\
    $TIPOGRAFIA
\*========================================*/
/*========================================*\
    $GRIDS
\*========================================*/
/*========================================*\
    $UTILITIES
\*========================================*/
